* {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #1A1A1B;
}

.layout {
    width: 85%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100px;
    border-bottom: white solid;
    margin-bottom: 15px;
}

.header .logo {
    flex-grow: 1;
    color: white;
}

.header nav {
    flex-grow: 1;
    display: flex;
    border-bottom: #131314;
}

.header .active {
    margin-left: 15px;
    margin-right: 15px;
    color: #7A17FF;
    font-weight: bold;
}

.header .pending {
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.header .contact-button {
    background: #7A17FF;
    height: 45px;
    width: 100px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
}

/*Contenido*/
.content {
    min-height: 400px;
}

.i-am {
    padding: 5px;
    margin-bottom: 10px;

}

.i-am h2,
h3,
p,
ul {
    margin: 15px;
    color: white;
}

.i-am p,
ul {
    margin: 15px;
    color: #6c6a6a;
}

.tool {
    border: solid white;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    flex-direction: row;
    margin-bottom: 15px;
}

.tool .list-tools {
    display: flex;
    background: #222223;
    margin: 5px;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
}

.tool img {
    height: 75px;
    width: 75px;
    background: #1A1A1B;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 10px;
    padding: 4px;
}
.works{
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.work-item {
    margin: 20px;
}
.work-item p {
    text-align: start;
    justify-content: center;
    color:rgb(255, 255, 255);
    margin: 15px;
}
.work-item .description{
    width: 400px;
}
.work-item .mask{
    width: 470px;
    height: 300px;
    overflow: hidden;
    border: solid #00fff2;
    border-radius: 5px;
    box-shadow: 0px 0px 14px gray;
}

.contact {
    padding: 20px;
    color: white;
    border: solid white;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.contact-icon {
    display: flex;
    font-size: 20px;
    align-items: center;
    margin-left: 15px;
}

.info-contact {
    border: solid white;
    width: 50%;
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
}

.form-contact {
    border: solid white;
    width: 50%;
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
    padding: 20px;
}

.form-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-contact input,
textarea {
    background: #222223;
    height: 30px;
    width: 300px;
    margin: 15px;
    padding: 10px;
    border-radius: 7px;
    border: none;
}

.form-contact h2 {
    text-align: center;
}

.send {
    display: flex;
}
.send .send-button {
    align-items: center;
    justify-content: center;
    align-content: center;
    background: #7A17FF;
    width: 318px;
    color: white;
    font-weight: bold;
    height: 37px;
    cursor: pointer;
}
/*Footer*/
.footer {
    min-height: 130px;
    line-height: 100px;
    text-align: center;
    font-size: 14px;
    margin-top: 35px;
    padding-top: 45px;
    border-top: black solid;
}